

<div class="mt-5">
 <div class="col-11 col-sm-10 col-md-7 col-lg-5 col-xl-4 centered-content">     
   <%= react_component('BlogLoginNavbar', props: @blog_login_nvbar_props, prerender: false )%> 
   <%= form_for(resource, as: resource_name, url: '/blog_login') do |f| %>
   
   <%= f.label :email %>
   <div class="input-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
   </div>          

   <%= f.label :password %>
   <div class="input-group">
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
   </div>

   <%= f.submit "Sign In", class: "col-12 btn btn-success btn-outline-light mt-2" %>
   
   <% end %>

</div>
</div>
