
<div>
  <div class="col-11 col-sm-10 col-md-7 col-lg-5 col-xl-4 centered-content">     
    <%= react_component('PlainBannersNavbar', props: {}, prerender: true )%>
    <div class='banner'>
      <div class='banner-body'>
        <div>
          <span class="banner-body-text"><h1 class="banner-title">Title</h1>Sample text</span>
        </div>
      </div>
    </div>

    <div class="mt-3">      

      <% if @banner %>
      <%= form_tag("/plain_banners/banner/update/#{@banner.id}", method: "post") do %>
      <%= label_tag('inputfield-1', "Banner name") %>
      <div class="input-group">
        <%= text_field_tag :banner_record_name, "", class: 'form-control',  value: @banner.record_name %>
      </div>          
      <%= label_tag('inputfield-1', "Color (Hexadecimal)") %>
      <div class="input-group">
        <%= text_field_tag :banner_color, "", class: 'form-control', value: @banner.color %>
      </div>
      <%= label_tag('inputfield-2', "Title") %>
      <div class="input-group">
        <%= text_field_tag :banner_title, "", class: 'form-control', value: @banner.title %>
      </div>
      <%= label_tag('inputfield-2', "Body text") %>
      <div class="input-group">
        <%= text_field_tag :banner_body_text, "", class: 'form-control', value: @banner.body_text %>
      </div>
      <% if !@banner.script_tag_id %>
      <%= link_to 'Deploy', "/plain_banners/banner/deploy/#{@banner.id}", method: :post, "data-disable-with" => "Please Wait...", id: @banner.id, class: "col-6 btn btn-info btn-outline-light mt-2 float-left" %>
      <%= submit_tag "Update Banner", class: "col-6 btn btn-success btn-outline-light mt-2 float-right" %> 
      <% else %>
      <%= submit_tag "Update Banner", class: "col-12 btn btn-success btn-outline-light mt-2" %> 
      <% end %>
      <% end %>   

      <% else %> 
      <%= form_tag("/plain_banners/banner/create", method: "post") do %>
      <%= label_tag('inputfield-1', "Banner name") %>
      <div class="input-group">
        <%= text_field_tag :banner_record_name, "", class: 'form-control' %>
      </div>          
      <%= label_tag('inputfield-1', "Color (Hexadecimal)") %>
      <div class="input-group">
        <%= text_field_tag :banner_color, "", class: 'form-control', value: "" %>
      </div>
      <%= label_tag('inputfield-2', "Title") %>
      <div class="input-group">
        <%= text_field_tag :banner_title, "", class: 'form-control'%>
      </div>
      <%= label_tag('inputfield-2', "Body text") %>
      <div class="input-group">
        <%= text_field_tag :banner_body_text, "", class: 'form-control'%>
      </div>      
      <%= submit_tag "Save", class: "col-12 btn btn-success btn-outline-light mt-2" %> 
      <% end %>

      <% end %>         
    </div>
  </div>
</div>