

<div class="container">   
   <div class="mt-5">        
      <h1>Product</h1>
      <%= form_tag("/create_product", method: "post", multipart: true) do %>
      <div class="form-group">
         <%= label_tag('title', "Title") %>
         <%= text_field(:product, :title, class: 'form-control') %>           
      </div>      

      <div class="form-group">
         <%= label_tag('Introduction', "introduction") %>
         <%= text_field(:product, :introduction, class: 'form-control') %>           
      </div>      

      <div class="form-group">
         <%= label_tag('product-body', "Product Body") %>
         <%= text_area(:product, :body, class: "form-control", rows: 10 ) %>         
      </div>

      <%= label_tag('product-image', "Cover Image") %>
      <div class="form-group">
         <%= file_field(:product, :image, class: "") %>         
      </div>
      <%= submit_tag "Save", class: "col-12 btn btn-success btn-outline-light mt-2" %> 
      <% end %>
   </div>
</div>