

<div class="container">   
   <div class="mt-5">        
      <h1>Prtfolio Item</h1>
      <%= form_tag("/create_portfolio_item", method: "post", multipart: true) do %>
      <div class="form-group">
         <%= label_tag('title', "Title") %>
         <%= text_field(:portfolio, :title, class: 'form-control') %>           
      </div>      

      <div class="form-group">
         <%= label_tag('introduction', "Introduction") %>
         <%= text_field(:portfolio, :introduction, class: 'form-control') %>           
      </div>      

      <div class="form-group">
         <%= label_tag('portfolio-item-body', "Portfolio Item Body") %>
         <%= text_area(:portfolio, :body, class: "form-control", rows: 10 ) %>         
      </div>

      <%= label_tag('portfolio-preview-image', "Preview Image") %>
      <div class="form-group">
         <%= file_field(:portfolio, :preview_image, class: "") %>         
      </div>

      <%= label_tag('portfolio-modal-image', "Modal Image") %>
      <div class="form-group">
         <%= file_field(:portfolio, :modal_image, class: "") %>         
      </div>

      <%= submit_tag "Save", class: "col-12 btn btn-success btn-outline-light mt-2" %> 
      <% end %>
   </div>
</div>