
<div class="jumbotron text-center">
   <div class="row justify-content-center">
      <div class="col-8 col-sm-6 col-md-5 col-lg-4 col-xl-3 justify-content-center">
         <%= image_tag ("/assets/logo_transparent_with_text.png"), class: "img-responsive img-fluid"%>   
         <%= form_tag("/newsletter_signup", method: "post") do %>
         <h5 class="mt-5 text-left">Newsletter once per week - Sign up</h5>
         <div class="input-group mt-2">            
            <%= email_field_tag :user_email, "", class: 'col-8 form-control', :required => 'required', placeholder: "Your email" %>
            <%= submit_tag "Subscribe", class: "col-4 form-control btn btn-success btn-outline-light" %> 
         </div>                  
         <% end %>            
      </div>      
   </div>
</div>

<div class="container mb-5">
   <div class="text-center">           
      <div class="row justify-content-center">
         <% @article_props.each do |item| %>
         <div class="col-9 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-4 justify-content-center align-items-stretch d-flex">
            <%= react_component('ArticlePreview', props: item, prerender: false )%>
         </div>                 
         <% end %>         
      </div>
   </div>  
</div>
