 <div class="container">
  <div class="row justify-content-center mb-5">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <div class="row justify-content-center">
        <div class="row justify-content-center mt-3">          
          <div class="justify-content-center">
            <%= image_tag ("/assets/plain_ecommerce_icon.png"), class: "img-fluid"%>
          </div>            
        </div>         
      </div>
    </div>
  </div>
</div>

<div class="jumbotron"> 
  <div class="row justify-content-center">
    <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6 text-center portfolio-introduction">
      <p><strong>Frantisek Friedl</strong> is a <strong>Technology Consultant</strong> and a <strong>Web Developer</strong> specializing in <strong>React JS</strong> and<strong> Ruby on Rails</strong>, bringing together a combination of soft and hard skills and their particular application in <strong> eCommerce.</strong></p>      
      <p><a href="https://plainecommerce.com/cv.pdf">CV</a></p>      
      <%= react_component('SocialMedia', props: {:social_media_color => 'dark'}, prerender: false )%>
    </div>
  </div>  
</div>            

<div class="container">    

  <div class="card mt-3 mb-3">
    <div class="card-header">
      <ul class="mb-0">
        <li><h4>Technical Skills</h4></li>
      </ul>
    </div>

    <div class="row">
      <div class="col-12 col-lg-6 mt-4">
        <ul>
          <li><strong>Front-End Development Technologies: </strong>HTML, CSS (Bootstrap, MJML), JavaScript (JQuery), React JS, Jinja.</li>
          <li><strong>Back-End Development: </strong> Ruby (Sinatra, Rails), Python (Flask).</li>
          <li><strong>Databases: </strong>SQL (SQLite, PostgreSQL), Google Big Query.</li>
          <li><strong>Systems: </strong>Windows, Linux (CentOS, Mint, Arch).</li>
          <li><strong>Server deployment: </strong>Apache, Passenger Phusion, Heroku.</li>
          <li><strong>Other technologies: </strong>Git, Github, Bitbucket.</li>
          <li><strong>Project management tools: </strong>Jira, Wrike, Trello.</li>
          <li><strong>Marketing Tools: </strong>Google Tag Manager, Google Analytics, Exponea.</li>        
        </ul>
      </div>

      <div class="col-12 col-lg-6 portfolio-icons">
        <div class="row mt-3 mb-2">
          <div class="col-12 text-center">
            <%= fm_icon ("icon icon-html5-alt") %>
            <%= fm_icon ("icon icon-css") %>
            <%= fm_icon ("icon icon-javascript-alt") %>
            <%= fm_icon ("icon icon-bootstrap") %>
            <%= fm_icon ("icon icon-reactjs") %>          
          </div>          
        </div>

        <div class="row mt-2 mb-2">
          <div class="col-12 text-center">
            <%= fm_icon ("icon icon-ruby") %>
            <%= fm_icon ("icon icon-ruby-on-rails-alt") %>
            <%= fm_icon ("icon icon-python") %>    
          </div>
        </div>
        
        <div class="row mt-2 mb-2">
          <div class="col-12 text-center">
            <%= fm_icon ("icon icon-git") %>
            <%= fm_icon ("icon icon-database") %>
            <%= fm_icon ("icon icon-postgres") %>    
            <%= fa_icon ("github") %>            
          </div>
        </div>

        <div class="row mt-2 mb-2">
          <div class="col-12 text-center">            
            <%= fa_icon ("linux") %>        
            <%= fm_icon ("icon icon-apache") %>
            <%= fm_icon ("icon icon-linux-mint") %>
            <%= fm_icon ("icon icon-linux-archlinux") %>
            <%= fm_icon ("icon icon-heroku") %>            
          </div>
        </div>             

      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <ul class="mb-0">
        <li><h4>Qualifications</h4></li>
      </ul>
    </div>    
    <div class="card-body">
      <div class="row qualifications">
        <div class="col-12 col-lg-6">
          <ul>
            <li><strong>NEXT Academy Web Development with React JS.</strong></li>
            <li><strong>NEXT Academy Web Development with Ruby on Rails.</strong></li>
            <li><strong>BSc International Business with German: 2:1 with Hons (68%) from Warwick University. </strong></li>                  
            <li><strong>A-levels: </strong>Mathematics A*, Economics A, German Language A.</li>
            <li><strong>AS-levels: </strong>Business Studies A, Extended Project A, Further Mathematics B.</li>
            <li><strong>Other: </strong>Over 15 programming certifications from Coursera and Udemy.</li>
            <li><strong>Languages: </strong>Czech (native), English (bilingual), German (fluent).</li>
          </ul>                    
        </div>

        <div class="col-12 col-lg-6">
          <div class="row mt-3 mb-2">
            <div class="col-12 text-center">
              <%= image_tag ("/assets/next_academy.png"), class: "d-block img-fluid centered-content"%>
            </div>
          </div>

          <div class="row mt-3 mb-2">
            <div class="col-12 text-center">
              <div class="row">
                <div class="col-6">
                  <%= image_tag ("/assets/warwick_university.jpg"), class: "d-block img-fluid centered-content"%>
                </div>
                <div class="col-6">
                  <%= image_tag ("/assets/mannheim_university.jpg"), class: "d-block img-fluid centered-content"%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>

<div class="jumbotron mt-5 mb-5">   
  <div class="row justify-content-center">
    <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6 text-center">
      <h3>Programming Certifications</h3>
    </div>
  </div>  
</div>   

<div class="container mb-5">
  <div class="row">   
    <div class="row justify-content-center text-center" >                            
      <div class="col-12 col-md-6">
        <div id="carousel-certificates" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <%= image_tag ("/assets/certi1-1.jpg"), class: "d-block img-fluid"%>
            </div>
            <div class="carousel-item">
              <%= image_tag ("/assets/certi2-1.jpg"), class: "d-block img-fluid"%>
            </div>

            <div class="carousel-item">                
              <%= image_tag ("/assets/certi3-1.jpg"), class: "d-block img-fluid"%>                    
            </div>

            <div class="carousel-item">
              <%= image_tag ("/assets/certi4-1.jpg"), class: "d-block img-fluid"%>   
            </div>

            <div class="carousel-item">
              <%= image_tag ("/assets/certi5-1.jpg"), class: "d-block img-fluid"%>                        
            </div>

            <div class="carousel-item">                
              <%= image_tag ("/assets/certi6-1.jpg"), class: "d-block img-fluid"%>               
            </div>

            <div class="carousel-item">
              <%= image_tag ("/assets/certi7-1.jpg"), class: "d-block img-fluid"%>
            </div>

            <div class="carousel-item">
              <%= image_tag ("/assets/certi8-1.jpg"), class: "d-block img-fluid"%>                         
            </div>

            <div class="carousel-item">                
              <%= image_tag ("/assets/certi9-1.jpg"), class: "d-block img-fluid"%>       
            </div>

            <div class="carousel-item">
              <%= image_tag ("/assets/certi10-1.jpg"), class: "d-block img-fluid"%>                         
            </div>

            <div class="carousel-item">
              <%= image_tag ("/assets/certi11-1.jpg"), class: "d-block img-fluid"%>           
            </div>

            <div class="carousel-item">                
              <%= image_tag ("/assets/certi12-1.jpg"), class: "d-block img-fluid"%>                    
            </div>

            <div class="carousel-item">
              <%= image_tag ("/assets/certi13-1.jpg"), class: "d-block img-fluid"%>    
            </div>

            <div class="carousel-item">
              <%= image_tag ("/assets/certi14-1.jpg"), class: "d-block img-fluid"%>               
            </div>                                

            <div class="carousel-item">
              <%= image_tag ("/assets/js_udemy.png"), class: "d-block img-fluid"%>        
            </div> 

            <div class="carousel-item">
              <%= image_tag ("/assets/udemy_shopify_themes.png"), class: "d-block img-fluid"%>        
            </div>

            <div class="carousel-item">   
              <%= image_tag ("/assets/next_academy_react.png"), class: "d-block img-fluid"%> 
            </div>
          </div>
          <a class="carousel-control-prev next-arrow1" href="#carousel-certificates" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next next-arrow1" href="#carousel-certificates" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div> 
      </div>  
    </div>
  </div>
</div>

<div class="jumbotron mt-5 mb-5" id="work_at_exponea"> 
  <div class="row justify-content-center">
    <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6 text-center">
      <h3>Related work experience</h3>       
    </div>
  </div>  
</div>            

<div class="container mt-5" >  
  <div class="card">
    <div class="card-header"> 
      <div class="row">
        <div class="col-12 col-md-6">
          <ul class="mb-0">
            <li>
              <h4>Technology Solutions Specialist at Exponea</h4>          
            </li>               
            <li>
              <p>Integration of the Exponea platform with client’s systems by:</p>
            </li>        
          </ul>              
        </div>                
        <div class="d-none d-md-block col-12 col-md-6">
          <%= image_tag ("/assets/exponea_logo.png"), class: "img-height-70 d-block img-responsive centered-content portfolio-img pull-right mb-2"%>
        </div>
      </div>      

    </div>
    <div class="card-body">     
      <ul>
        <li>Mapping out client’s systems, estimating resource requirements and preparing product demonstrations.</li>
        <li>Designing data structure supporting proposed marketing use cases given technical constrains.</li>
        <li>Implementing data transfers between Exponea and client’s systems via API, JavaScript, Google Big Query (SQL) and CSV imports.</li>
        <li>Implementing UI modifications and data tracking using HTML, CSS and JavaScript.</li>
        <li>Deploying personalized omnichannel marketing use cases in real time including AI driven product recommendations.</li>
        <li>Designing responsive email templates and personalizing assets using Jinja.</li>
        <li>Leading technical workshops with clients to enable them to fully leverage Exponea’s capabilities.</li>
        <li>Developing client relationships, project management, identifying and developing upsell opportunities.</li>
        <li>Internal initiatives: Data Generator (React Js), Data scraping (Python), developing GTM templates. </li>       
      </ul>
    </div>
  </div>

  <div class="card mt-5">
    <div class="card-header"> 
      <ul class="mb-0">
        <li><h4>Internal Initiatives</h4></li>               
      </ul>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-lg-6 initiatives my-auto">
          <strong>Data scraping</strong> – prepared an automated solution which scrapes and transforms financial data from the European Central Bank’s (ECB) website and makes them internally available to the financial department. 
        </div>
        <div class="col-12 col-lg-6">
          <%= image_tag ("/assets/export_currencies.png"), class: "img-thumbnail d-block img-fluid centered-content portfolio-img mb-2"%>    
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 order-12 order-lg-1 ">
          <%= image_tag ("/assets/exponea_tracking_gtm.png"), class: "img-thumbnail d-block img-fluid centered-content portfolio-img mb-2"%>        
        </div>
        <div class="col-12 col-lg-6 order-1 order-lg-12 initiatives my-auto">
          <strong>Google Tag Manager tracking template (GTM)</strong> –  created an Exponea tracking template for GTM with a coresponding documentation after scoping commercial and legal viability. The solution was approved by Google and became part of its <a href="https://github.com/exponea/gtm_view_category" target="_blank">template galery</a>.
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 initiatives my-auto">
          <strong>Data Generator</strong> – enhanced functionality of Exponea's data generator, a platform internally developed and used by Exponea to prepare customized product demonstrations to perspective clients. Built additional functionality to this platform using React JS.
        </div>
        <div class="col-12 col-lg-6">
          <%= image_tag ("/assets/data_generator.png"), class: "img-thumbnail d-block img-fluid centered-content portfolio-img mb-2"%>
        </div>
      </div>  

    </div>
  </div>


  <div class="card mt-5">
    <div class="card-header"> 
      <ul class="mb-0">
        <li><h4>Project successes</h4></li>               
      </ul>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-12 col-lg-6 initiatives my-auto mb-3">
          <strong>Project ‘N’</strong> – shortly after joining Exponea I have led the implementation of an advance jQuery animation as one of the ‘Black Friday’ use case for the client. While the client had previously been reluctant to let Exponea modify its UI, following this implementation the client agreed to Exponea implementing further such use cases for them.
        </div>
        <div class="col-12 col-lg-6">
          <%= image_tag ("/assets/black_friday_animation.png"), class: "img-thumbnail d-block img-fluid centered-content portfolio-img mb-2 black-friday-uc-img"%>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 order-12 order-lg-1">
          <%= image_tag ("/assets/exponea_academy.png"), class: "img-thumbnail d-block img-fluid centered-content portfolio-img mb-2 academy-certificate"%>
        </div>
        <div class="col-12 col-lg-6 order-1 order-lg-12 initiatives my-auto">
          <strong>Exponea Academy</strong> – I have successfully completed both the Exponea Fundamental and Exponea Advanced Academy. As a result, I became more confident in using the Exponea platform which has enabled me to make greater contributions to client projects by taking on responsibilities which would typically be carried out by a Business Consultant, Project Manager or a Customer Success Manager.
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12 col-lg-6 initiatives my-auto">
          <strong>MJML framework</strong> – the MJML framework is a framework for building responsive email templates. I have brought the use of this framework into Exponea by implementing it in clients’ projects, internally sharing templates developed in this framework and publishing a tutorial on how to use this framework.
        </div>
        <div class="col-12 col-lg-6">
          <%= image_tag ("/assets/responsive_email_templates.jpg"), class: "img-thumbnail d-block img-fluid centered-content portfolio-img mb-2 email-template"%>
        </div>
      </div>

      <div class="row justify-content-center mt-3">
        <div class="col-12 text-center">
          <a href="#" onclick="viewMoreWorkProjects(event)">View more</a>
        </div>
      </div>

      <div id="more-work-projects" class="display-none">
        <p>Project ‘GD’ – proactively reached out to the client when an issue with unintended customer un-subscriptions was identified. Quickly arranged a call with the client, investigated the situation and its business impact, identified cause of the issue and prepared detailed instructions for the client’s agency on how to resolve the issue. Received an official recognition for this effort by the respective Customer Success Manager.</p>

        <p>Project ‘TK’ – I have refactored code used for the implementation of a particularly successful use case which led to an uplift of 20% in average order value. </p>

        <p>Project ‘M’ – after becoming an owner of this project I took on the role of a Technical and Business Consultant as well as a Project Manager. I have mapped out the state of the project’s integration by establishing communication flows between the client, their agency, Exponea team previously dedicated to the project, Exponea’s product team, Exponea’s client services department and an Exponea’s developer of the back-end Shopify integration. I have further taken responsibility for the management of the project and scheduled regular communication between Exponea, the client and their agency. I have facilitated the implementation of non-standard requirements raised by the client at no extra cost and clarified certain technical limitations to the client as well as the respective Customer Success Manager. This has led to a high satisfaction of the client with the Exponea solution and generated an upsell opportunity which I am now further developing.</p>    

        <p>Project ‘PV’ – after an incorrect importation of data which has over time affected millions of records, I have been approached by the Head of Solution Managers to resolve the issue. I have investigated the situation and with the help of a Business Consultant have rectified the situation. This has further fostered a positive relationship with the client, and I have received a recognition from the Head of Solution Managers.</p> 

        <p>Project ‘EB’ – after receiving a complaint from the client regarding a significant loss of their weekly revenue which the client attributed to the Exponea solution, I have immediately analyzed the situation and discovered an issue caused by an inconsistency which has been introduced to the data. I have assessed the scope of its impact and implemented an appropriate solution. I have explained the findings and the solution to the client the following day which has significantly de-escalated the tension in that situation. This was followed by 2 upsells in this project the following week.</p> 

      </div>    
    </div>  
  </div>
</div>

<div class="jumbotron mt-5"> 
  <div class="row justify-content-center">
    <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6 text-center">
      <h3>Featured Projects</h3>
    </div>
  </div>  
</div>            


<div class="container mb-5">
  <div class="row justify-content-center mb-5">   

    <% @portfolio_props.each do |item| %>       
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mt-4 align-items-stretch d-flex">
      <div class="card h-100">               
        <img class="img-responsive card-img-top item-img-preview" src="<%=item['images'][0]%>"/>               
        <div class="card-body item-backgorund card-block d-flex flex-column">
          <h4 class="card-title"><%= item['item']['title'] %></h4>
          <%= raw(item['item']['introduction']) %>
          <button type="button" class="btn btn-secondary btn-lg btn-block text-truncate" data-toggle="modal" data-target="#portfolio_modal_<%= item['item']['id'] %>" > View       
          </button>                        
          <div class="modal" id="portfolio_modal_<%=item['item']['id']%>">
            <div class="modal-dialog">
              <div class="modal-content">              
                <div class="modal-header">
                  <h4 class="modal-title"><%=item['item']['title']%></h4>
                  <span data-dismiss="modal" class="modal-close-btn">
                    <span aria-hidden="true">&times;</span>
                  </span>
                </div>                     
                <div class="modal-body"> 
                  <div class="container">
                    <div class="row justify-content-center text-center centered-content mb-3">                               
                      <img class="portfolio-item-view-img img-responsive img-fluid" src="<%= item['images'][1] %>"/>
                    </div>
                    <div class="row">
                      <div class="container">
                        <div><%=raw(item['item']['body'])%></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>        
              </div>
            </div>
          </div>
        </div>
      </div>           
    </div>             
    <% end %>   
  </div>
  <div class="row mt-3 text-center">
    <div class="col-12">
      <a href="https://bitbucket.org/account/user/selfquantedcom/projects/PRF" target="_blank">View more</a>
    </div>
  </div>  
</div>

<div class="jumbotron mb-0 pb-0">   
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <div class="container featured-brands">
        <h3><strong>Worked with brands such as ...</strong></h3>

        <div class="row justify-content-center">
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mt-5 mb-5">
            <%= image_tag ("/assets/ebuyer_logo.jpg"), class: "d-block img-fluid "%>            
          </div>  

          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mt-5 mb-5">
            <%= image_tag ("/assets/ego_shoes_logo.png"), class: "d-block img-fluid mx-auto"%>
          </div>  

          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mt-5 mb-5">
            <%= image_tag ("/assets/notino_logo.png"), class: "d-block img-fluid mx-auto"%>            
          </div>  

          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mt-5 mb-5">
            <%= image_tag ("/assets/t_mobile_logo.png"), class: "d-block img-fluid mx-auto"%>            
          </div>  

          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mt-5 mb-5">
            <%= image_tag ("/assets/just_park.png"), class: "d-block img-fluid mx-auto"%>            
          </div>  

          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mt-5 mb-5">
            <%= image_tag ("/assets/medichecks_logo.png"), class: "d-block img-fluid mx-auto"%>
          </div>  

          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mt-5 mb-5">
            <%= image_tag ("/assets/agent_provocateur_logo.png"), class: "d-block img-fluid mx-auto"%>
          </div>  

          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mt-5 mb-5">
            <%= image_tag ("/assets/blacksocs_logo.jpg"), class: "d-block img-fluid mx-auto"%>
          </div>  

          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mt-5 mb-5">
            <%= image_tag ("/assets/paul_valentine_logo.png"), class: "d-block img-fluid mx-auto"%>
          </div>          

          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mt-5 mb-5">
            <%= image_tag ("/assets/bonusz_brigad.jpeg"), class: "d-block img-fluid mx-auto"%>
          </div>  

        </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron testimonials-jumbotron m-0 p-0">
  <div class="row justify-content-center pt-5 pb-5 mb-5">
    <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6 text-center">
      <h3>Client Testimonials</h3>
    </div>
  </div>  
</div>

<div class="container mb-5">
  <div class="row justify-content-center text-center">    
    <div class="col-12">
      <p class="card-text">"Great developer. Willing to communicate his problem so as to make sure things can move forward."</p>    
      <p><strong><a href="https://www.upwork.com/freelancers/~01d9ac4a695b9aafcc">Smuleclub</a></strong></p>          
    </div>
  </div>
</div>   

