
<div class="container">
 <div class="row justify-content-center">    
   <div class="col-lg-12 centered-content centered-content">      
      <h1 class="mt-4"><%= @product_props['item']['title'] %></h1>      
      <p class="lead">by <a href="/portfolio">Frantisek Friedl</a></p>          
      <hr/>      
      <img class="img-preview" src="<%= @product_props['images'][0] %>"/>
      <hr/>
      <p class="lead"><%= @product_props['item']['introduction'] %></p>
      <div><%= raw(@product_props['item']['body']) %></div>
      <hr/> 
   </div>  
   
</div>
</div>