<div class="container mb-5 mt-5">
   <div class="text-center">           
      <div class="row justify-content-center">
         <% @product_props.each do |item| %>
         <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-4 justify-content-center align-items-stretch d-flex">
            <div class="card h-100 w-100">
               <div class="row no-gutters">              
                  <div class="col-md-8">
                     <div class="card-body h-100 card-block d-flex flex-column text-left">
                        <h4 class="card-title"><%= item['item']['title'] %></h4>             
                        <p class="card-text"><%= item['item']['introduction'] %></p>
                        <a class="mt-auto btn btn-secondary btn-lg btn-block text-truncate" href="/product_view/<%=item['item']['id']%>" >View</a>
                     </div>
                  </div>            
                  <div class="col-md-4 modal-footer">
                     <img class="img-responsive card-img-top img-preview portfolio-img-preview" src=<%=item['images'][0]%> />
                  </div>
               </div>
            </div>                           
         </div>
         <% end %>         
      </div>      
   </div>
</div>