<div class="container container-fluid mt-5">
  <%= form_tag("/update_profile/#{current_user.id}", method: "post", multipart: true) do %>
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
      <%= image_tag @profile_picture, class: "mx-auto d-block img-fluid", style: "height:200px" %>      
    </div>
    <div class="col-sm-12 text-center mt-2">
      <%= file_field(:user, :avatar, class: "", :required => 'required') %>         
    </div>
    <div class="col-sm-12 col-md-4 offset-md-4 mt-2">   
     <div class="col-12">
      <div class="form-group">
        <%= submit_tag "Update image", class: "col-12 btn btn-success btn-outline-light mt-2" %> 
     </div>
   </div>
 </div>
</div>  
<% end %>   
</div>