/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope. 
 *= require blog 
 
 */
 @import "bootstrap";
 @import "font-awesome";
 @import "font-mfizz";

 nav{
   height: 68px!important;
}

body{
   font-family: 'PlayfairDisplay-Regular'!important;
}

pre{
   background-color: #e9ecef;
   padding-top: 10px;
   padding-bottom: 10px;
}

.main-content-wrapper{
   padding-top: 64px;
   padding-bottom: 64px;
}

.centered-content{
 margin: auto;
}

.text-left{
   text-align: left;
}

footer{
   color: white;
   
}

li{
   line-height: 2;
}

.img-fluid:not(_){
   max-width: 100%!important;
}

.item-backgorund{
   background-color: #f7f7f7;   
}

.display-none{
   display: none;
}