// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-collapse ul{
  padding: 10px!important;
}

.navbar{
  padding: 0px!important;
}

.navbar-brand{
  padding: 5px!important;
}

.jumbotron .home-page-title{
  font-size: 1.5rem;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.portfolio-introduction{
  line-height: 2;
}
// Creating modal close button due to disfunctional bootstrap
.modal-close-btn{
 font-size: 1.6rem;
 cursor: pointer;
}

.img-large-preview:not(_){
 max-width: 350px;      
 display: block;
 margin: auto; 
}

.img-preview:not(_){
 max-width: 350px!important;   
 display: block;
 margin: auto; 
}

.full-width{
 width: 100%;
}

.modal-dialog{
 max-width: 95%!important;
}

.portfolio-item-view-img{
 max-width: 600px;
}

.card-header ul{
 list-style: none;
}

.portfolio-icons .fa{
  font-size: 50px;
  margin-right: 2%;
}

.portfolio-icons .icon{
  font-size: 50px;
  margin-right: 2%;
}

.qualifications img{
  max-width: 150px;
}

.initiatives{
  line-height: 3;
}

.black-friday-uc-img{
  max-width: 200px!important;
}

.academy-certificate{
  max-width: 400px!important;
}

.email-template{
  max-width: 300px!important;
}

.social-media-links{
  margin-left: 0px!important;
  margin-right: 0px!important;
}

.display-none{
  display:none;
}

.text-black{
  color: black;
}

.img-height-70{
  height:70px;  
}

.portfolio-modal-vector-icon{
  font-size: 2rem;
}

.featured-brands img{
  height: 80px;
}

.testimonials-jumbotron{
  background-color: #f7f7f7!important;
}

@media only screen and (min-width: 768px) {
 .item-img-preview {
  width: 100%;
  height: 15vw;
  max-height: 168px;
  object-fit: cover;
}
}