
<div class="row display-none">     
  <div class="col-12 col-md-6 col-lg-4">
    <!-- Search Widget -->    
    <div class="card h-100 w-100">      
      <div class="card-body">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Search</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5 justify-content-center">    
    <div class="col-12 col-lg-8">      
      <% @article_props.each do |item| %>
      <%= react_component('ArticlePreviewLarge', props: item, prerender: false )%>
      <% end %>
    </div>
  </div>  
</div>


