<div className="col-lg-8 centered-content">      
  
  <!-- Title -->
  <h1 className="mt-4">Creating responsive emails with MJML</h1>      
  
  <p className="lead">by <a href="#">Frantisek Friedl</a></p>
  <hr/>      
  <p>Posted on January 1, 2019 at 12:00 PM</p>
  <hr/>      
  <img className="img-fluid rounded thumbnail" src="/assets/article_1_img_preview.png" alt="email icon"/>
  <hr/>
  
  <!-- Introduction -->
  <p className="lead">MJML is a framework for developing responsive email templates which render correctly across a wide range of email providers web browsers. Hey, it is even compatible with Outlook!</p>

  <!-- Body Text -->    
  <p>MJML can either be used locally with Node Package Manager or with a standalone online text editor with life preview.</p>
  <ul class="list-group mb-2">
    <li class="list-group-item"><a href="https://mjml.io/try-it-live" target="_blank">Editor</a></li>          
    <li class="list-group-item"><a href="https://mjml.io/documentation/" target="_blank">Documentation</a></li>
    <li class="list-group-item"><a href="https://mjml.io/templates" target="_blank">Sample templates</a></li>
  </ul>
  <h2>Walkthrough example</h2>         
  <p>MJML utilizes a grid system. &lt;mj-section&gt; enables us to put content into a row whereas &lt;mj-column&gt; enables us to display content next to each other (i.e. in columns) in a particular row. Width of the columns is shared evenly. E.g. with 2 columns each will occupy 50%. Default width of a row is 600px. </p>
  <p> To insert custom HTML elements we would use the MJML tag &lt;mj-text&gt;. Within this tag we can specify our own HTML elements. Let’s look at an example. Say we want to display an image of a product with a URL, product description and product price all next to each other. Our code could look something like this.</p>
  <div class="justify-content-center mt-3 mb-3">
   <img class="img-fluid" src="/assets/article_1_img_1.png" alt="MJML code"/>
 </div>
 <p>First we create a row by using &lt;mj-section&gt; tag. Within this tag we then create 3 columns using &lt;mj-column&gt;. As our description of a product is much longer than the price of a product we decide to allocate more space to this column specifying attribute width &lt;mj-column width=”250”&gt; Notice that we don’t add units (e.g. pixels) and that the total width of all columns adds up to 600. For other MJML attributes refer to the documentation. Those shown in this example should be largely self-explanatory. To create URL links and to embed these into a picture we need to use classic HTML. This we can do by nesting our HTML code in the &lt;mj-text&gt; tag.</p>
 <div class="row justify-content-center mt-3 mb-3">
  <img class="img-fluid" src="/assets/article_1_img_2.png" alt="MJML code"/>
</div>
<p>Notice, that we were able to use a very straight forward syntax while MJML ensures that the HTML code will display correctly on various browsers and email clients (i.e. the compiled HTML will be garbage code). Typically we would need to write a complicated structure with several nested HTML tables to ensure a correct display particularly in Outlook. </p>
<p>In the above example we have used in-line styling but we can also write our CSS code in the “head section” as follows: </p>
<div class="justify-content-center mt-3 mb-3">
  <img class="img-fluid" src="/assets/article_1_img_3.png" alt="MJML code" />
</div>
<p>Note that the CSS will apply only to HTML elements and will have no impact on the MJML tags. To style MJML tags we need to use the supported attributes.</p>
<!-- Body Text END -->

<hr/> 
</div>        