<div class="container">
   <div class="row justify-content-center">
      <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8 mb-5">
         <div class="row justify-content-center text-center mt-3">
            <h1>How to make a Shopify app with Ruby on Rails</h1>   
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
               <%= image_tag ("/assets/shopify_icon.png"), class: "img-fluid"%>
            </div>
         </div>
         <p>..</p>
         <p>....</p>
        <h2>....</h2>             
        <p>....</p>
   </div>
</div>
</div>

Linux Manjaro - Arch based
using: ruby '2.6.4'
gem 'rails', '~> 5.2.3'
gem 'pg', '>= 0.18', '< 2.0'
gem 'irb', '~> 1.1'

export PATH="/home/franta/.gem/ruby/2.6.0/bin:$PATH"

gem 'shopify_app', '~> 11.3', '>= 11.3.2'

rails new shopify_app --database=postgresql
rails db:create
rails db:migrate