
<div class="container">
  <div class="row justify-content-center">    
   <div class="col-lg-8 centered-content">      
      <h1 class="mt-4"><%= @article_props['item']['title'] %></h1>      
      <p class="lead">by <a href="/portfolio">Frantisek Friedl</a></p>          
      <hr/>      
      <img class="img-preview" src="<%= @article_props['image'] %>"/>
      <hr/>
      <p class="lead"><%= @article_props['item']['introduction'] %></p>
      <div><%= raw(@article_props['item']['body']) %></div>
      <hr/>      
      <!-- Comments Form -->
      <div class="card my-4">
       <h5 class="card-header">Leave a Comment:</h5>
       <div class="card-body">
         <%= form_tag("/blog/post_coment/#{@article_props['item']['id']}", method: "post") do %>
         <div class="form-group">
            <%= text_area_tag :comment_text, "", :required => 'required', class: 'form-control', rows: 3%>            
         </div>       
         <% if user_signed_in? %>
         <%= submit_tag "Submit", class: "btn btn-secondary" %> 
         <% else %>         
         <a href="/blog_login" class="btn btn-secondary">Sign In to comment</a>                                     
         <% end %>
         <% end %>
      </div>
   </div>

   <!-- Single Comment -->
   <% @comment_props.each do |item| %>  
   <div class="media mb-4">
      <%= image_tag item[:user_image], class: "d-flex mr-3 rounded-circle", style: 'width:50px' %>      
      <div class="media-body">
         <h5 class="mt-0"><%= item[:user]['first_name'] ? item[:user]['first_name'].downcase.capitalize : "" %> <%= item[:user]['last_name'] ? item[:user]['last_name'].downcase.capitalize : "" %></h5>
         <%= raw(item['comment']) %>
      </div>
   </div>
   <% end %>
</div>  
</div>
</div>