

<div class="container">   
   <div class="mt-5">        
      <h1>Article</h1>
      <%= form_tag("/create_article", method: "post", multipart: true) do %>
      <div class="form-group">
         <%= label_tag('title', "Title") %>
         <%= text_field(:article, :title, class: 'form-control') %>           
      </div>      

      <div class="form-group">
         <%= label_tag('Introduction', "introduction") %>
         <%= text_field(:article, :introduction, class: 'form-control') %>           
      </div>      

      <div class="form-group">
         <%= label_tag('article-body', "Article Body") %>
         <%= text_area(:article, :body, class: "form-control", rows: 10 ) %>         
      </div>

      <%= label_tag('article-image', "Cover Image") %>
      <div class="form-group">
         <%= file_field(:article, :image, class: "") %>         
      </div>
      <%= submit_tag "Save", class: "col-12 btn btn-success btn-outline-light mt-2" %> 
      <% end %>
   </div>
</div>