<!DOCTYPE html>
<html>
<head>
   <title>Plain Ecommerce</title>
   <meta name="viewport" content="width=device-width">   

   <%= csrf_meta_tags %>
   <%= csp_meta_tag %>      
   <%= favicon_link_tag asset_path('plain_ecommerce_icon.png') %>
   <%= javascript_pack_tag 'hello-world-bundle' %>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>        

   <%= react_component('BlogNavbar', props: @navbar_props, prerender: false )%>
   <div class="main-content-wrapper mb-5">   
   <%= yield %>
   </div>
   <%= react_component('BlogFooter', props: @footer_props, prerender: false )%>   
</body>
</html>



