
<div class="mt-5">
 <div class="col-11 col-sm-10 col-md-7 col-lg-5 col-xl-4 centered-content">     
   <%= react_component('BlogLoginNavbar', props: @blog_login_navbar_props, prerender: false )%> 

   <%= form_for(resource, as: resource_name, url: '/blog_sign_up') do |f| %>
   <%= render "devise/shared/error_messages", resource: resource %>

   <%= f.label :email %>
   <div class="input-group">
     <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
   </div>  

   <%= f.label :first_name %>
   <div class="input-group">
    <%= f.text_field :first_name, :required => 'required', autofocus: true, class: "form-control" %>
  </div>  

  <%= f.label :last_name %>
  <div class="input-group">
   <%= f.text_field :last_name, :required => 'required', autofocus: true, class: "form-control" %>
 </div>  

 <%= f.label :password %>
 <% if @minimum_password_length %>
 <em>(<%= @minimum_password_length %> characters minimum)</em>
 <% end %><br />
 <div class="input-group">
  <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
</div>

<%= f.label :password_confirmation %>
<div class="input-group">
  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
</div>

<%= f.submit "Sign Up", class: "col-12 btn btn-success btn-outline-light mt-2" %>

<% end %>

</div>
</div>
